
/* Style for sections table object */
table[type="sections"] {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

/* Style for sections table header */
table[type="sections"] th {
  padding: 8px;
  text-align: center;
  background-color: #46BA31;
  color: white;
}

/* Style for sections table data */
table[type="sections"] td {
  padding: 8px;
}

/* Style for alternating colors on table rows */
table[type="sections"] tr:nth-child(even) {
  background-color: #f2f2f2;
}