.Home-container {
    clear: both;
  }
  
.Home-logo {
  height: 200px;
  pointer-events: none;
 
}

.topbar {
  /* background-color: #dddddd; */
  background-image: url('../../assets/green_paw.png');
  background-size: 26.64px 25px;
  background-position: 20px ;
  background-repeat: no-repeat;
  padding: 5px 20px 5px 55px;
  color: gray;
  text-decoration: none;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
}

/* Style the links inside the navigation bar */
.topbar a {
  float: right;
  color: gray;
  text-align: center;
  text-decoration: none;
  /* background-color: rgb(71, 146, 71);*/
  padding: 5px 10px;
  border-radius: 5px; 
  border: .5px #ccc solid;

}

/* Change the color of links on hover */
.topbar a:hover {
  background-color: #e2e2e2;
  /* color: rgb(71, 146, 71); */
  /* opacity: .5; */
}

.Home-header {
  background-color: #E8E8E8;
  
}

.menu{
  /* float: left; */
  /* padding: 0px 50px; */
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 30px 50px;
  background-color: #e2e2e2;
  padding: 0px 10px 10px 10px;
  border-radius: 5px;
}

.current-semester {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 250px 50px 100px 50px;
  position: absolute;
  box-sizing: border-box;
  background-color: #e2e2e2;
  padding: 0px 10px 10px 10px;
  border-radius: 5px;
}

.next-semester{
  float: right;
  display: flex;
  flex-direction: column;
  align-items: right;
  margin: 30px 50px 100px 50px;
  box-sizing: border-box;
  background-color: #e2e2e2;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  
  
}

.scroller{
  max-height: 525px;
  overflow: scroll;
}

input[type=text3] {
  background-image: url('../../assets/search-icon.png');
  background-size: 20px 20px;
  background-position: 5px ;
  background-repeat: no-repeat;
  width: 500px;
  padding: 8px 30px;
  box-sizing: border-box;
  outline: none;
  
}





  