.options{
    background: #f4f4f4;
    /* background-image: url('../assets/enrollment.png'); */
    background-repeat: no-repeat;
    /* filter: opacity(50%); */
    background-size: 30px 30px;
    background-position: 90%;
    padding-left: 20px;
    font-size: 12px;
    width: 95%;
    font-weight: 600;
    border: .2px rgba(211, 211, 211, 0.829) solid;
    font-family: Helvetica;
    text-align: left;
    box-sizing: border-box;
    color: #0f8f46; 
    text-decoration: none;
    border-radius: 3px;
}


.options:hover {
    background-color: #f4f4f494;
    /* opacity: .65; */
    
}