.input-container {
  position: relative;
  margin: 2px;
  padding: 10px 0 10px 0;
}

input {
  outline: 0;
  padding: 8px 80px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  vertical-align: middle;
  padding-left: 40px;

  background-color: #c4c4c4;
  background-size: 20px 20px;
  background-position: 5px;
  background-repeat: no-repeat;

  border-style: none;
  border-bottom: solid;
  border-color: #0f8f46;
  border-radius: 5px;
}

input[type="text"] {
  background-image: url("../../assets/emailIcon.png");
}

input[type="text2"] {
  background-image: url("../../assets/key.png");
}

input[type="password"] {
  background-image: url("../../assets/key.png");
}

.instructions {
  font-size: medium;
}

.instructions a {
  color: blue;
  font-size: 13px;
}

.customIcon {
  float: right;
  position: absolute;
  top: calc(50% - 8px);
  height: 20px;
  width: 20px;
}
