
  .Login-header {
    background-color: #E8E8E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }

  
.topnav {
  background-color: #46BA31;
  background-color: #0f8f46;
  overflow: hidden;
  color: white;
  text-align: left;
  padding-left: 10px;
  
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding-right: 10px;
}

/* Change the color of links on hover */
.topnav a:hover {
 
  color: black;
}

