
  .Login-header {
    background-color: #E8E8E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }

  .loginbutton {
    background-color: #0f8f46;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    transition-duration: 10ms;
  }
  
  .loginbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #2e6a30;
  }
  
.topnav {
  background-color: #46BA31;
  overflow: hidden;
  color: white;
  text-align: left;
  padding-left: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding-right: 10px;
}

/* Change the color of links on hover */
.topnav a:hover {
 
  color: black;
}

p[type=invalidInput] {
  visibility: visible;
  color: red;
  font-size: small;
}

p[type = notInvalidInput]{
  visibility: hidden;
}
