.loginbutton {
  background-color: #46BA31;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  transition-duration: 10ms;
}

.loginbutton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #2e6a30;
}

input[type=text] {
  background-color: #C4C4C4;
  padding: 8px 60px;
  background-image: url('../../assets/emailIcon.png');
  background-size: 20px 20px;
  padding-left: 40px;
  background-position: 5px ;
  background-repeat: no-repeat;
  text-align: left;
  border-style: none;
  border-bottom: solid;
  border-color: #46BA31;
  border-radius: 5px;
  
}

input[type=password]{
  background-color: #C4C4C4;
  padding: 8px 60px;
  background-image: url('../../assets/key.png');
  background-size: 20px 20px;
  padding-left: 40px;
  background-position: 5px ;
  background-repeat: no-repeat;
  text-align: left;
  border-style: none;
  border-bottom: solid;
  border-color: #46BA31;
  border-radius: 5px;
}

.instructions {
  font-size: medium;
}


.instructions a {
  color: blue;
  font-size: 13px;;
}

