
.input-container {
  position: relative;
  margin: -15px;
  padding: 10px 0 10px 0;
}

/* Style for all input text fields */
input {
  outline: 0;
  padding: 8px 80px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  vertical-align: middle;
  padding-left: 40px;

  background-color: #c4c4c4;
  background-size: 20px 20px;
  background-position: 5px;
  background-repeat: no-repeat;

  border-style: none;
  border-bottom: solid;
  border-color: #0f8f46;
  border-radius: 5px;
}

/* Add icon to first name field */
input[type="firstName"] {
  background-image: url("../../assets/name.png");
}

/* Add icon to last name field */
input[type="lastName"] {
  background-image: url("../../assets/lastName.png");
}

/* Add icon to student number field */
input[type="studentNumber"] {
  background-image: url("../../assets/id.png");
}

/* Add icon to email field */
input[type="email"] {
  background-image: url("../../assets/emailIcon.png");
}

select[type="degree"] {
  outline: 0;
  background-color: #c4c4c4;
  padding: 8px 45px;
  background-image: url("../../assets/diploma.png");
  padding-left: 40px;


  background-color: #c4c4c4;
  background-size: 20px 20px;
  background-position: 5px;
  background-repeat: no-repeat;

  border-style: none;
  border-bottom: solid;
  border-color: #0f8f46;
  border-radius: 5px;
}

/* Add icon to password field */
input[type="password"] {
  background-image: url("../../assets/key.png");
}

/* Add icon to unhidden password field */
input[type="unhiddenPassword"] {
  background-image: url("../../assets/key.png");
}

/* Position for hide/show password icon */
.hiddenIcon {
  float: right;
  position: absolute;
  top: calc(50% - 8px);
  height: 20px;
  width: 20px;
}

button{
  margin: 15px;
}
